body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
main{
  padding: 1rem;
  background-color: rgb(190, 255, 255);
  min-height: 100vh;
}
.form-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-form{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.error-message{
  padding: 0;
  color: #660000;
  background-color: rgb(255, 122, 122);
  border: 2px solid red;
  margin: 1rem 0;
}
.error-message p {
  margin: 0;
  padding: .5rem 1rem;
}
.edit-error-message{
  color: rgb(212, 0, 0);
}

nav{
  display: flex;
  background-color: #008080;
  color: white;
  padding: .25rem 1rem;
  align-items: center;
}
.nav-list {
  display: flex;
  list-style: none;
}
.nav-item {
  padding: 0 .5rem;
  color: rgb(128, 223, 223);
  font-weight: bold;
}
.active-nav-item, .nav-item:hover, .nav-item:focus{
  color: rgb(226, 255, 255);
  transition: ease-in-out 100ms;
}
.nav-link, .nav-link:visited{
  text-decoration: none;
  color: inherit;
}
.logo{
  text-shadow: -4px 4px #800080;
}

/* loading */
.loader-container{
  display: flex;
  justify-content: center;
}
.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #008080;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.small-ldr {
  width: 1rem;
  height: 1rem;
  padding: 0;
}
.small-ldr div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: .5rem .5rem;
}
.small-ldr div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: #008080;
  margin: 0;
}
.small-ldr div:nth-child(1) {
  animation-delay: -0.036s;
}
.small-ldr div:nth-child(1):after {
  top: .7875rem;
  left: .7875rem;
}
.small-ldr div:nth-child(2) {
  animation-delay: -0.072s;
}
.small-ldr div:nth-child(2):after {
  top: .85rem;
  left: .7rem;
}
.small-ldr div:nth-child(3) {
  animation-delay: -0.108s;
}
.small-ldr div:nth-child(3):after {
  top: .8875rem;
  left: .6rem;
}
.small-ldr div:nth-child(4) {
  animation-delay: -0.144s;
}
.small-ldr div:nth-child(4):after {
  top: .9rem;
  left: .5rem;
}
.small-ldr div:nth-child(5) {
  animation-delay: -0.18s;
}
.small-ldr div:nth-child(5):after {
  top: .8875rem;
  left: .4rem;
}
.small-ldr div:nth-child(6) {
  animation-delay: -0.216s;
}
.small-ldr div:nth-child(6):after {
  top: .85rem;
  left: .3rem;
}
.small-ldr div:nth-child(7) {
  animation-delay: -0.252s;
}
.small-ldr div:nth-child(7):after {
  top: .7875rem;
  left: .2125rem;
}
.small-ldr div:nth-child(8) {
  animation-delay: -0.288s;
}
.small-ldr div:nth-child(8):after {
  top: .7rem;
  left: .15rem;
}
.white-ldr div:after{
  background: white;
}
.black-ldr div:after{
  background: #000;
}
.btn {
  border: none;
  /* border-radius: 15%; */
  outline: none;
  font-weight: bold;
  cursor: pointer;
  height: 100%;
}
.danger-btn{
  background-color: rgb(255, 61, 61);
  color: white;
}
.standard-btn{
  background-color: #800080;
  color: white;
}
.confirm-btn{
  background-color: #008080;
  color: white;
}
.ingredients-list{
  list-style: none;
  margin: 0;
  padding: 0;
}
.ingredients-list li {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  transition-duration: 200ms;
  height: 2rem;
  padding-left: .5rem;
  align-items: center;
}
.ingredients-list li:hover, .ingredients-list li:focus{
  background-color: rgb(156, 212, 212);
  transition-duration: 100ms;
}
.ingredients-list .btn-groupe{
  height: 100%;
}
.add-ingredient-form input {
  margin: .5rem;
  height: 100%;
  padding: 0;
  border: none;
  border: 1px solid #008080;
}
.add-ingredient-form input:focus{
  outline: none;
  box-shadow: inset 0px 0px 2px #008080;
}
.add-ingredient-form {
  height: 2rem;
}
.add-ingredient-form label{
  font-weight: bold;
}
.edit-ingredient-form input{
  height: 2rem;
  border: none;
  padding: 0 .5rem;
  width: 5rem;
  margin: .5rem;
  border: 1px solid #008080;

  /* box-shadow: -1px 3px 5px rgba(0,0,0,.5); */
}
.edit-ingredient-form input:focus{
  outline: none;
  box-shadow: inset 0px 0px 2px #008080;
}
.edit-ingredient{
  display: flex;
  flex-direction: row;
  height: 100%;
}
.input-error{
  border: 1px solid rgb(212, 0, 0) !important;
  box-shadow: inset 0px 0px 2px rgb(212,0, 0);
}