body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.form-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-form{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-error-container{
  padding: 0;
  color: #660000;
  background-color: rgb(255, 122, 122);
  border: 2px solid red;
  border-radius: 5px;
}
.login-error-container p {
  margin: 0;
  padding: .5rem 1rem;
}